<main>
  <h1>Cada día falta menos</h1>
  <div class="clock">
    <div class="time">
      <span class="days">00</span>
      <span class="hours">00</span>
      <span class="min">00</span>
      <span class="sec">00</span>
    </div>
  </div>
  <div class="perspective">
    <div class="time_reflection">
      <span class="days">00</span>
      <span class="hours">00</span>
      <span class="min">00</span>
      <span class="sec">00</span>
    </div>
  </div>
  <div class="time_prev">
    <span class="days">00</span>
    <span class="hours">00</span>
    <span class="min">00</span>
    <span class="sec">00</span>
  </div>
  <div class="text">
    <p class="text-days">Días</p>
    <p class="text-hours">Horas</p>
    <p class="text-min">Minutos</p>
    <p class="text-sec">Segundos</p>
  </div>
</main>
